# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

certs/*.pem
certs/*.cert
certs/*.key
# Runtime data
pids
*.pid
*.seed
*.pid.lock

coverage
.nyc_output
node_modules/
reports/
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.development
.env.test
.DS_Store
lib/
.history